<script>WEBSITE_URL = 'http://localhost:3334'; </script>
	<script src="js/app.js"></script>
	
<script type="text/javascript" src="dist/jplayer/jquery.jplayer.min.js"></script>
<script src="webrecorder/lib/WebAudioRecorder.js"></script>
   
  <!-- App End -->
  
</body>

</html>